@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Playfair+Display&family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --rosa: #ead8cb;
    --fonte-principal: 'Playfair Display', serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --branco: #fafffe;
    --cinza: #f5f5f5;
}
.navbar{
    background: var(--rosa);
}

.lista-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2em;
    font-family: var(--fonte-poppins);
    
}

.item-nav{
    margin: 0 2em;
}

a{
    text-decoration: none;
    color: black;
}

.div-apresentacao{

    background-image: url(./assets/img_makeup.jpg);
    background-size: cover;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    height: 60vh;

}

.titulo-apresentacao{
    font-family: var(--fonte-principal);
    font-size: 52px;
    color: black;
}

.texto-apresentacao{
    font-family: var(--fonte-poppins);
    color: black;
    
}


.div-serviços{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    background-color: var(--cinza);
    align-items: center;
}

.titulo-serviços{
    font-family: var(--fonte-poppins);
    font-weight: 500;
    padding-top: 1em;
    text-align: center;
}

.lista-serviços{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    align-items: center;
}

.serviços{
    font-family: var(--fonte-poppins);
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
}

.botao{
    border-radius: 24px;
    border: 1px solid var(--cinza);
    margin-left: 1em;
    padding: 0.5em;
}

.fa-plus{
    font-size: 18px;
    display: flex;
}
