@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Playfair+Display&family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-poppins);
}

html {
    overflow-x: hidden;
}

body{
    background: var(--cinza);
}

button:hover {
    cursor: pointer;
}

:root{
    --rose: #b76d68;
    --rose-hover: #8c5450;
    --fonte-principal: 'Playfair Display', serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --branco: #fafffe;
    --cinza: #f5f5f5;
    --red: #ef4444;
    --red-hover: #dc2626;
}

.navbar{
    width: 100vw;
    background: var(--rose);
}

.button-carrinho {
    cursor: pointer;
}

.lista-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2em;
    
}

.item-nav{
    font-family: var(--fonte-principal);
    font-size: 36px;
    margin: 0 2em;
}

a{
    text-decoration: none;
    color: wheat;
}

.div-apresentacao{
    background-image: url(./assets/img_makeup.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    height: 60vh;
    width: 100vw;
    z-index: 0;
}

.titulo-apresentacao{
    font-family: var(--fonte-principal);
    font-size: 52px;
    color: #160016;
}

.texto-apresentacao{
    
    color: black;
    
}

.fa-cart-shopping{
    font-size: 36px;
    display: flex;
}   

.div-serviços{
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    align-items: center;
    width: 100vw;
}

.titulo-serviços{
    
    font-weight: 500;
    padding-top: 1em;
    text-align: center;
    color: #160016;
}

.lista-serviços{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
}

.div-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.secao-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.serviços{
    
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 1.5em;
}

.text-servico{
    margin-top: 1em;
}

.img-servico{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 1em;
    margin-top: 1.5em;
    padding: 1em;
    background: var(--rose);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s;
}

.botao:hover{
    background: var(--rose-hover);
    cursor: pointer;
}

.text-botao-servico{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0.5em;
    font-family: var(--fonte-poppins );
}

.fa-plus{
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.botao-carrinho{
    margin-top: 6em;
    border-radius: 14px;
    padding: 1em;
    border: 2px solid var(--rose);
    
    font-weight: 500;
}

.botao-carrinho:hover{
    background: rgb(220, 210, 210);
}

.div-descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.362);
} 

#modal-img{
    max-width: 50%;
    border-radius: 10px;
}

#modal-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#modal-nome-servico{
    
    font-size: 1.5rem;
    font-weight: 400;
}

#modal-preco{
    font-size: 18px;
    font-weight: 500;

}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup{
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 30%;
    padding: 2em 4em;
    background: var(--cinza);
    border-radius: 14px;
    align-items: center;
    animation: popupA 0.5s;
}

@keyframes popupA {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

#input-data{
    text-align: center;
    width: 50%;
    border-radius: 12px;
    border: none;
    padding: 0.5em;
    background: rgba(128, 128, 128, 0.464);
}

#input-horario{
    text-align: center;
    width: 50%;
    border-radius: 12px;
    border: none;
    padding: 0.5em;
    background: rgba(128, 128, 128, 0.464);
}

#input-data:focus, #input-horario:focus{
    outline: 2px solid var(--rose);
}

.texto-popup{
    font-weight: 400;
    text-align: center;
}


#botao-popup{
    background: var(--rose);
    border: none;
    border-radius: 14px;
    padding: 1em 2em;
    color: wheat;
    font-weight: 500;
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid var(--red); 
    border-radius: 14px;
    padding: 0.5rem 2rem;
    background: var(--red);
}
#botao-fechar:hover{
    background: var(--red-hover);
}

.modal-cart{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.407);
}

.modal-cart.active {
    display: flex;
    justify-content: end;
    align-items: center;
}

#cart {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 2rem;
    animation: cartAnimation 0.7s;
    z-index: 1000;
}

.cart-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 1rem;
}


.lista-cart {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 60%;
    padding: 12px;
}

#botao-cart-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #22c55e; 
    border-radius: 14px;
    padding: 0.5rem 2rem;
    background: #22c55e;
    margin-bottom: 0.5em;
}

#botao-cart-comprar:disabled{
    background: rgba(0, 128, 0, 0.406);
    cursor: default;
    border: none;
}

.div-botoes-cart{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.remove-servico-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    border: none;
    padding: 14px 15px;
    border-radius: 12px;
    height: 4em;
    width: 4em;
}

.remove-servico-cart:hover{
    background: var(--red-hover);
}

.fa-trash-can{
    font-size: 1.5rem;
    color: white;
    pointer-events: none;
}

.item-cart{
    font-size: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-cart{
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(47, 47, 47);
}

.date-cart{ 
    color: rgb(125, 121, 121);
}

.time-cart{
    color: rgb(125, 121, 121);
}

.div-footer{
    display: flex;
    flex-direction: column;
    background: var(--rose);    
    width: 100%;
    padding: 4em 2em;
    padding-bottom: 1em;
    margin-top: 2em;
    gap: 1em;
}

.lista-contatos{
    list-style: none;
    color: wheat;
    font-size: 18px;
}

hr{
    color: wheat;
}

.titulo-footer{
    font-weight: 500;
    color: wheat;
}

.text-copyright{
    text-align: center;
    color: wheat;
}

.botao-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 1em;
    margin-top: 1.5em;
    padding: 1em;
    background: var(--cinza);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s;
    color: rgba(0, 0, 0, 0.654); 
}

.botao-cadastro:hover{
    background: var(--rose);
}

.modal-cadastro{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.362);
}

#cadastro{
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 30%; 
    padding: 2em 4em;
    background: var(--cinza);
    border-radius: 14px;
    align-items: center;
    animation: popupA 0.5s; 
    justify-content: center;
    margin: 2.5em;
}

.div-inputs-cadastro{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#input-nome, #input-preco, #input-link-img{
    text-align: center;
    width: 80%;
    border-radius: 12px;
    border: none;
    padding: 0.5em;
    background: rgba(128, 128, 128, 0.464);
}

.modal-cadastro.active{
    display: flex;
}

#botao-cadastrar-servico{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #22c55e; 
    border-radius: 14px;
    padding: 0.5rem 2rem;
    background: #22c55e;
    margin-bottom: 0.5em; 
}
#botao-cadastrar-servico:hover{
    background: #1ca34d;
}

.cancelar-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid var(--cinza); 
    border-radius: 14px;
    padding: 0.5rem 2rem;
    background: var(--red);
    margin-bottom: 0.5em; 
}

.cancelar-cadastro:hover{
    background: var(--red-hover);
}

.texto-cadastro{
    font-weight: 500;
    margin-bottom: 1em;
}


@keyframes cartAnimation {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}
